/*
 * Colors
 */
$colors := {
  neutral: {
    dark-5:  #000000,
    dark-4:  #2A3039,
    dark-3:  #546171,
    dark-2:  #8091A5,
    dark-1:  #A9B9C0,
    base:    #B4C3CA,
    light-1: #C3CFD6,
    light-2: #D3DCE0,
    light-3: #E5EBED,
    light-4: #F8F9FA,
    light-5: #FFFFFF,
  },
  primary: {
    dark-2:  #093B7A,
    dark-1:  #1A75B7,
    base:    #33C5FF,
    light-1: #9AE3FF,
    light-2: #EAF9FF,
  },
  secondary: {
    dark-2:  #13052C,
    dark-1:  #271448,
    base:    #331C54,
    light-1: #9A8FAB,
    light-2: #E8E5EB,
  },
  success: {
    dark-2:  #185E20,
    dark-1:  #438D40,
    base:    #8CC47F,
    light-1: #CCEDBC,
    light-2: #F3F9F2,
  },
  info: {
    dark-2:  #755A10,
    dark-1:  #AF9129,
    base:    #F4D650,
    light-1: #FAEC96,
    light-2: #FDFAED,
  },
  warning: {
    dark-2:  #71270D,
    dark-1:  #AB5427,
    base:    #EE964E,
    light-1: #F9CD96,
    light-2: #FDF4ED,
  },
  danger: {
    dark-2:  #7A1042,
    dark-1:  #B72B51,
    base:    #FF5566,
    light-1: #FBA198,
    light-2: #FFEEEF,
  },
  alt-blue: {
    dark-2:  #0C1274,
    dark-1:  #1F2CAE,
    base:    #3F53F3,
    light-1: #8B9AFB,
    light-2: #EBEDFD,
  },
  alt-purple: {
    dark-2:  #2F2671,
    dark-1:  #7065AA,
    base:    #A294DB,
    light-1: #E8E3F9,
    light-2: #F5F4FB,
  },
  // special
  white: {
    base:      #FFFFFF
  },
  black: {
    base:      #000000
  },
  zoov-maintenance: {
    base:    #00F3BB,
  }
}
