/*
 * Interactions
 */
$background-image-transition := background-image 1s

$hover-background := rgba(255, 255, 255, 0.1)
$focus-background := rgba(0, 0, 0, 0.05)
$active-background := rgba(0, 0, 0, 0.07)
