$ease = cubic-bezier(0.76, 0, 0.24, 1)
$ease-in-out = cubic-bezier(.6, 0, 0, .6)
$fade-duration = 0.2s
$scale-duration = 0.5s
$background-duration = 0.15s
$rotate-duration = 0.3s
$elevation-duration = 0.28s
$transform-duration = 0.5s
$from-shift = 100%
