/*
 * Typography
 */
$font-family ?= 'Quicksand', sans-serif;
$weights ?= {
  extra-light: 100,
  lighter: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  bolder: 800,
  extra-bold: 900
};
$typography ?= {
  display-3: { // h1
    size: 8 * $step,
    weight: $weights.medium,
    line-height: 9 * $step,
    color: inherit,
    font: $font-family
  },
  display-2: { // h2
    size: 5 * $step,
    weight: $weights.medium,
    line-height: 6.5 * $step,
    color: inherit,
    font: $font-family
  },
  display-1: { // h3
    size: 4 * $step,
    weight: $weights.medium,
    line-height: 5 * $step,
    color: inherit,
    font: $font-family
  },
  heading: { // h4
    size: 3 * $step,
    weight: $weights.medium,
    line-height: 4.5 * $step,
    color: inherit,
    font: $font-family
  },
  title: { // h5
    size: 2.5 * $step,
    weight: $weights.medium,
    line-height: 3.5 * $step,
    color: inherit,
    font: $font-family
  },
  subheader: { // h6
    size: 2 * $step,
    weight: $weights.medium,
    line-height: 3 * $step,
    color: inherit,
    font: $font-family
  },
  body: {
    size: 1.75 * $step,
    weight: $weights.medium,
    line-height: 3 * $step,
    color: inherit,
    font: $font-family
  },
  caption: {
    size: 1.5 * $step,
    weight: $weights.medium,
    color: inherit,
    line-height: 2 * $step,
    font: $font-family
  },
  button: {
    size: 2 * $step,
    letter-spacing: (-1 * $step / 100),
    line-height: 3 * $step,
    weight: $weights.medium,
    font: $font-family
  }
};