generate-responsive-classes()
  for $breakpoing_name, $breakpoint_value in $breakpoints
    .{$breakpoing_name}-and-down
      @media (min-width: $breakpoint_value)
        display none !important

    .{$breakpoing_name}-and-up
      @media (max-width: $breakpoint_value - $epsilon)
        display none !important

generate-responsive-classes()
